body {
	font-family: "Trebuchet MS";
	padding: 20px;
	color: #fff;
}
h2 {
	color: #fff;
}

.displayNone {
	width: 25%;
	height: 500px;
	margin-right: 10%;
	float: left;
	cursor: pointer;	
}


.visibility {
	width: 25%;
	height: 500px;
	margin-right: 10%;
	float: left;
	cursor: pointer;
}

ul > li {
	padding: 5px;
}
